* {
	font-family: 'Palatino', serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
  
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;

  p {
	font-size: 1.25em;
  }

  h4 {
	text-align: center;
	font-size: 1.5em;
	font-style: italic;
  }
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
  font-style: italic;
}